body {
  margin: 0;
}

.Layout {
  display: flex;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  position: relative;

  background: #D4D4D4;
}

.Layout-rectangle {
  position: absolute;
  top: 345px;

  width: 935px;
  height: 300px;

  rotate: 30deg;

  border-radius: 300px;

  transition-duration: 1s;

  background: #7075F1;
}

@media screen and (max-width: 1199px) {
  .Layout-rectangle {
    rotate: -30deg;
    transition-duration: 1s;
  }
}

@media screen and (max-width: 899px) {
  .Layout-rectangle {
    rotate: 30deg;
    width: 700px;
    height: 200px;
  }
}

@media screen and (max-width: 599px) {
  .Layout-rectangle {
    rotate: -60deg;
  }
}